body {
    font-family: "Raleway", sans-serif;
    background-color: aliceblue;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url(../img/fantasy-2964231_1280.jpg);
    background-size: cover ;
    background-position: left;
    color: blueviolet;
  }
  
  /* Mis trabajos */
  
  #Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #6be1ff;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
.card{
    background-color: rgb(255, 188, 248);
}

